html
head
    title OpenLayers + MapQuest
    script(src='http://www.openlayers.org/api/OpenLayers.js')
    link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css')
    script(src='http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js')
    script(type='text/javascript')
      var map;
      var arrayOSM;
      var baseOSM;
      function init(){
      map = new OpenLayers.Map('map');
      arrayOSM = ["http://otile1.mqcdn.com/tiles/1.0.0/map/${z}/${x}/${y}.jpg",
      "http://otile2.mqcdn.com/tiles/1.0.0/map/${z}/${x}/${y}.jpg",
      "http://otile3.mqcdn.com/tiles/1.0.0/map/${z}/${x}/${y}.jpg",
      "http://otile4.mqcdn.com/tiles/1.0.0/map/${z}/${x}/${y}.jpg"];
      baseOSM = new OpenLayers.Layer.OSM("MapQuest-OSM Tiles", arrayOSM);
      map.addLayer(baseOSM)
      map.setCenter(new OpenLayers.LonLat(0, 0), 1);
      }
  body(onload='init()')
    #map(style='height: 500px;')  A map will appear here

h1 Incomes by U.S. State
 table(border ='1', style='width: 300px;')
  tr
   th State
   th Income
  each income in incomes
    tr
     tr
      td #{income.State}
      td #{income.Income} 